body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007a74;
  color: white;
  text-align: center;
  padding: 30px 10px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #005f5b;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background 0.3s;
}

nav.scrolled {
  background-color: #003f3b;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

nav a:hover {
  background-color: #009f96;
}

section {
  padding: 30px;
  max-width: 1100px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #007a74;
  margin-bottom: 40px;
}

.city {
  margin-bottom: 60px;
}

.city h3 {
  color: #005f5b;
  font-size: 24px;
}

.place {
  margin-bottom: 25px;
}

.place img {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.place p {
  text-align: justify;
  line-height: 1.7;
}

#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #007a74;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

#topBtn:hover {
  background-color: #00a297;
}
